<form >
    <div class="form-group">
      <label for="exampleFormControlInput3">AttackTime</label>
      <input type="text" class="form-control" id="exampleFormControlInput3" [(ngModel)]="model.AttackTime" [ngModelOptions]="{standalone: true}">
    </div>
  
    <div class="form-group">
      <label for="exampleFormControlInput1">AttackType</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="model.AttackType" [ngModelOptions]="{standalone: true}">
    </div>
  
    <div class="form-group">
      <label for="exampleFormControlInput2">Description</label>
      <input type="text" class="form-control" id="exampleFormControlInput2" [(ngModel)]="model.Description" [ngModelOptions]="{standalone: true}">
    </div>
  
    <div class="form-group">
      <label for="exampleFormControlInput4">HouseAttacked</label>
      <input type="number" class="form-control" id="exampleFormControlInput4" [(ngModel)]="model.HouseAttacked" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput5">PointsWon</label>
        <input type="number" class="form-control" id="exampleFormControlInput5" [(ngModel)]="model.PointsWon" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput5">WasAttackStoped</label>
        <input type="number" class="form-control" id="exampleFormControlInput5" [(ngModel)]="model.WasAttackStoped" [ngModelOptions]="{standalone: true}">
      </div>
  </form>